@model CrudBasico.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuApellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuApellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuClave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuClave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
