@model IEnumerable<CrudBasico.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2 class="pt-3 pb-3">Usuarios registrados en el sistema</h2>

<p>
    @Html.ActionLink("Insertar nuevo registro", "Create", "", new {@class="btn btn-success"})
</p>

<table class="table table-bordered text-center">

    <tr class="table-danger">
        <th>
            @Html.DisplayNameFor(model => model.UsuMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuApellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuClave)
        </th>
        <th>ACCIONES</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuApellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuClave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuMatricula}, new {@class="btn btn-warning"}) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuMatricula}, new {@class="btn btn-primary"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuMatricula}, new {@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
